In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
salary_sheet = pd.read_csv("data/salaries.csv")
salary_sheet.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
inputs = salary_sheet.drop('salary_more_then_100k',axis='columns')
target = salary_sheet['salary_more_then_100k']

In [ ]:
inputs.head()

In [ ]:
target.head()

In [ ]:
"""
ML works only in numbers so we have t convert it into number
#my task is to find the difference betweeen get_dumies and label encoder method for making strings into numbers
#What is the function of fit and transport method
"""
from sklearn.preprocessing import LabelEncoder

In [ ]:
col_company = LabelEncoder()
col_job = LabelEncoder()
col_degree = LabelEncoder()

In [ ]:
inputs['company_n'] = col_company.fit_transform(inputs['company'])
inputs['degree_n'] = col_degree.fit_transform(inputs['degree'])
inputs['job_n']  = col_job.fit_transform(inputs['job'])

In [ ]:
inputs.head()

In [ ]:
#NExt step is to drop string columns
inputs = inputs.drop(['company','job','degree'],axis='columns')

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()

In [ ]:
model.fit(inputs,target)

In [ ]:
model.score(inputs,target)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
model.predict([[2,1,2]])

# Decision tree using train test splitting

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(inputs,target,test_size=0.5,random_state=42)

In [ ]:
x_train

In [ ]:
model.fit(x_train,y_train)

In [ ]:
model.predict(x_test)

In [ ]:
y_test

In [ ]:
model.score(x_train,y_train)